server {
    listen 8083 default_server;
    server_name 10.10.10.80;

    root {{ document_root }}/yii/web;
    index index.php;
    charset utf-8;

    access_log  /var/log/nginx/yii_access.log;
    error_log   /var/log/nginx/yii_error.log;
    
    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    # uncomment to avoid processing of calls to non-existing static files by Yii
    #location ~ \.(js|css|png|jpg|gif|swf|ico|pdf|mov|fla|zip|rar)$ {
    #    try_files $uri =404;
    #}
    #error_page 404 /404.html;

    location ~ ^/assets/.*\.php$ {
        deny all;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:/var/run/php-yii.sock;
        try_files $uri =404;
    }

    location ~* /\. {
        deny all;
    }
}
